GtkLabel#colored_label {
    background-color: #7ECF64; 
    background-size:60px 30px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size:90%;
}

GtkLabel#new_entries_label {
    color: red;
    font-size: 50%
}

